@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';

body {
  font-family: 'Open Sans', sans-serif !important;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.active {
  font-weight: bold;
}

a {
  color: rgba(102, 58, 195, 1) !important;
}